body {
    font-family: sans-serif;
    text-align: center;
    margin: 50px;
}

h1 {
    margin-bottom: 20px;
    color: blue;
}

button {
    padding: 10px 20px;
    border: 1px solid #1a0303;
    border-radius: 5px;
    cursor: pointer;
}